# Ignore configuration files that may contain sensitive information.
.htaccess
wp-content/uploads/*
wp-content/gallery/*
wp-config.php
*.old
googled5a8fcd9e1331863.html
robots.txt
local-fix-wp-permissions.sh
wp-content/cache/*
db_backups/*
*.log
.htaccess
sitemap.xml
sitemap.xml.gz
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php

/readme.html
/license.txt

_backup/*
